body {
  background-color: black;
}
#excuse {
  color: rgb(0, 255, 34);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.button {
  background-color: rgb(0, 255, 34);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  line-height: 1.1em;
  font-size: 16px;
  border: 0px;
  padding: 10px 10px;
  border-radius: 5px;
}

.button:hover,
button:active {
  background-color: rgb(110, 255, 65);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  line-height: 1.1em;
  font-size: 16px;
  box-shadow: 0px 0px 5px 3px rgba(110, 255, 65, 0.75);
}

.container-fluid {
  height: 300px;
}
